:root {
    --primary-color: #333;
    --secondary-color: #f3f3f3;
    --background-color: #f4f4f4;
    --text-color: #333;
    --font-family: Arial, sans-serif;
    --border-radius: 4px;
    --spacing-unit: 8px;
    --hover-color: #f4f4f4;
    --box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* 0 0 10px rgba(0,0,0,0.1); */
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: var(--spacing-unit * 2);
    font-size: 1.6rem;
}

header, nav, main, footer {
    display: block;
    margin-bottom: var(--spacing-unit * 2);;
}

header {
    background: #333;
    color: #fff;
    padding: var(--spacing-unit) 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: var(--spacing-unit);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    background: var(--secondary-color);
    padding: var(--spacing-unit * 2);
    box-shadow: var(--box-shadow);
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #777;
}